<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
<f:layout name="Default" />

This Template is responsible for creating a table of domain objects.

If you modify this template, do not forget to change the overwrite settings
in /Configuration/ExtensionBuilder/settings.yaml:
  Resources:
    Private:
      Templates:
        List.html: keep

Otherwise your changes will be overwritten the next time you save the extension in the extension builder

<f:section name="main">

<f:flashMessages />

<div class="row">
<f:for each="{medias}" as="media">
	<div class="col-sm-6 col-md-4">
	  <div class="thumbnail">
		  <f:image image="{media.image}" treatIdAsReference="1" width="400" height="400"/>
		<div class="caption">
		  <h3>{media.name} - <f:for each="{media.authors}" as="auteur"><p>{auteur.name}</p></f:for></h3>
			<f:format.crop maxCharacters="320"><p> {media.description -> f:format.html()}</p></f:format.crop>
			<f:link.action action="show" class="btn btn-success" arguments="{media: media}">Fiche du média</f:link.action>
		  <p>Publié le : {media.published -> f:format.date()}</p>
		</div>
	  </div>
	</div>
</f:for>
</f:section>

</html>
