<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
<f:layout name="Default" />

This Template is responsible for displaying a single view for a domain object

If you modify this template, do not forget to change the overwrite settings
in /Configuration/ExtensionBuilder/settings.yaml:
  Resources:
    Private:
      Templates:
        Show.html: keep

Otherwise your changes will be overwritten the next time you save the extension in the extension builder

<f:section name="main">
<div class="container">
<f:flashMessages />

<div class="row">
  <div class="col-md-3 col-md-offset-9">
    <f:link.action class="btn btn-primary" action="list">Retour à la liste des médias</f:link.action>
  </div>
</div>
</br>
<div class="row">
<div class="col-md-6">
  <f:image image="{media.image}" treatIdAsReference="1" width="400" height="400"/>
  <div class="col-sm-12">
    <h1>Fichiers liés à ce média :</h1>
    <f:for each="{media.files}" as="file" >
      <a href="{file.originalResource.publicUrl}">
        <br>{file.originalResource.name}
      </a>
    </f:for>
</div>

</div>

<div class=" col-md-6">
  <div class="caption">
    <h3>{media.name} - <f:for each="{media.authors}" as="auteur" iteration="itemIteration">{auteur.name}
        <f:if condition="{itemIteration.total} > 1">
            <f:if condition="{itemIteration.isLast}">
                <f:else> & 
                </f:else>        
             </f:if>
        </f:if>
    </f:for></h3>
    <p> {media.description -> f:format.html()}</p>
    <p>Publié le : {media.published -> f:format.date()}</p>
  </div>
</div>
</div>
<hr/>
<div class="row">
  <div class="col-md-12 text-center">
    <h1>Commentaires</h1>
    <f:for each="{media.reviews}" as="review" iteration="itemIteration">
          <div class="caption">
            <h3>Par {review.author} le {review.date -> f:format.date()}</h3>
            <f:format.crop maxCharacters="320"><p> {review.comment -> f:format.html()}</p></f:format.crop>
            <p>Noté {review.mark} / 20</p>
          </div>
          <f:if condition="{itemIteration.total} > 1">
              <f:if condition="{itemIteration.isLast}">
                  <f:else>
                      <hr/>
                    </f:else>        
            </f:if>
          </f:if>
    </f:for>
  </div>
</div>
<hr />

<div class="row">
  <div class="col-md-12 text-center">
      <h1>Auteurs</h1>
  </div>
</div>
<div class="row">
    <f:for each="{media.authors}" as="author">
      <div class="col-sm-6 col-md-4">
        <div class="thumbnail">
        <f:for each="{author.pictures}" as="photo">
          <f:image image="{photo}" treatIdAsReference="1" width="400" height="400"/>
        </f:for>
        <div class="caption">
          <h3>{author.name}</h3>
          <f:format.crop maxCharacters="320"><p> {author.bio -> f:format.html()}</p></f:format.crop>
          <f:link.action controller="Author" class="btn btn-success" pageUid="{settings.authorsPage}" action="show" arguments="{author: author}">Fiche de l'auteur</f:link.action>
        </div>
        </div>
      </div>
    </f:for>
  </div>
  </div>
  </f:section>

</html>
