<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
<f:layout name="Default" />

This Template is responsible for creating a table of domain objects.

If you modify this template, do not forget to change the overwrite settings
in /Configuration/ExtensionBuilder/settings.yaml:
  Resources:
    Private:
      Templates:
        List.html: keep

Otherwise your changes will be overwritten the next time you save the extension in the extension builder

<f:section name="main">
<h1>Listing for Author</h1>

<f:flashMessages />

<table  class="tx_mediamfcnm" >
	<tr>
		<th><f:translate key="tx_mediamfcnm_domain_model_author.name" /></th>
		<th><f:translate key="tx_mediamfcnm_domain_model_author.bio" /></th>
		<th><f:translate key="tx_mediamfcnm_domain_model_author.pictures" /></th>
		<th> </th>
		<th> </th>
	</tr>

  <div class="row">
	<f:for each="{authors}" as="author">

  <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
      <f:for each="{author.pictures}" as="picture">
        <f:image image="{picture}" treatIdAsReference="1" />
      </f:for>
      <div class="caption">
        <h3>{author.name}</h3>
        <p>{author.bio -> f:format.html()}</p>
        <p><a href="#" class="btn btn-primary" role="button">Button</a> <a href="#" class="btn btn-default" role="button">Button</a></p>
      </div>
    </div>
  </div>
  </f:for>
</div>


</table>

<f:link.action action="new">New Author</f:link.action>
</f:section>
</html>
