<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
<f:layout name="Default" />

This Template is responsible for displaying a single view for a domain object

If you modify this template, do not forget to change the overwrite settings
in /Configuration/ExtensionBuilder/settings.yaml:
  Resources:
    Private:
      Templates:
        Show.html: keep

Otherwise your changes will be overwritten the next time you save the extension in the extension builder

<f:section name="main">

<div class="row">
    <div class="col-sm-12 col-md-12">
      <div class="col-sm-3">
        <div class="thumbnail">
          <f:for each="{author.pictures}" as="photo">
            <f:image image="{photo}" treatIdAsReference="1" width="400" height="400"/>
          </f:for>
        </div>
      </div>
      <div class="col-sm-9 caption">
        <h1>{author.name}</h1>
        <p> {author.bio -> f:format.html()}</p>
        <f:for each="{author.socials}" as="social">
        <a href="https://{social.title}.com/{social.AccountName}"> {social.title} </a>
        </f:for>
      </div>
    </div>
    <f:link.action action="list">Retour à la liste des auteurs</f:link.action><br />
</div>

<div class="row">
    <f:for each="{medias}" as="media">
      <div class="col-sm-6 col-md-4">
        <div class="thumbnail">
            <f:image image="{media.image}" treatIdAsReference="1" width="400" height="400"/>
        <div class="caption text-truncate" >
          <h3>{media.name}</h3>
          <f:format.crop maxCharacters="300"><p> {media.description -> f:format.html()}</p></f:format.crop>
          <f:link.action controller="MediaController" pluginName="PI1" action="show" arguments="{media: media}">Lire la suite...</f:link.action>
          </div>
        </div>
        </div>
      </div>
    </f:for>
<f:flashMessages />
	</f:section>
</html>
